*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #000000DE;
}

/* Sempre pré define tamanho do header */
header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.menu{
    margin-top: 15px;
}


/* Sempre por tag nav não menu ul ou menu li */
.menu ul {
    /* Retira as bolinhas */
    list-style: none;
    display: flex;
    flex-direction: row;
    /* Põem items ao centro da div */
    align-items: center;
}

/* Distanciamento entre si */
.menu ul li {
    list-style: none;
    margin-left: 20px;
}

.menu ul li a {
    /* Retira os sublinhados */
    text-decoration: none;
    color: #000000DE;
    font-size: 13px;
}

.menu .photo {
    border-radius: 40px;
    height: 45px
}

.svg_logo{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.main_course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

/* Centralizar todos os conteudo do main course no centro */
#main,
#main_search,
#main_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Imagem Google */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;
    margin-top: 115px;
    margin-bottom: -25px;
}

.logo img{
    width: 272px;
    height: 92px;
}

/* Search */
.search_bar {
    position: relative;
    width: 550px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 25px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.search_img{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    pointer-events: none;
}

.search_img img {
    margin-left: 10px;
}

.procurar{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 25px;
    font-size: 15px; 

    text-align: left;
    border: none;
    outline: none;
    color: rgba(0,0,0,.87); 
}

.search_bar img {
    display: flex;
    align-items: flex-end;
    width: 18px;
    height: 18px;

}

.search_buttons button{
    width: 150px;  
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;

    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    /* Retira bordas ao clicar */
    outline: none;
    cursor: pointer;
}

.hov:hover{
    font-weight: bold;
} 


.footer_area{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 13px;
}

.footer_up{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    padding: 10px;
    font-size: 15px;
}

.footer_up a{
    text-decoration: none;
}

.footer_down{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 5px;
    border-top: 1px solid #afa5a5;
    padding: 10px;
}

.left_side ul,
.right_side ul{
    display: flex;
}


.left_side ul li,
.right_side ul li{
    margin-top: 10px;
    margin-right: 10px;
    /* Retira as bolinhas */
    list-style: none;
}

.left_side ul li a,
.right_side ul li a{
    text-decoration: none;
}


/* Para retirar x azul da procura */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* Para cor do placeholder no input */
::-webkit-input-placeholder {
    color: 	#545454;
    font-weight: 400;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: 	#545454;
    font-weight: 400;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: 	#545454;
    font-weight: 400;
 }
 
 :-ms-input-placeholder {  
    color: 	#545454;
    font-weight: 400;
 }


@media (max-width: 560px) {
    
    header{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .main_course {
        height: 465px;
    }

    .logo {
        margin-top: none;
    }
    
    .search_bar {
        width: 400px;
    }
    
    .search_buttons{
        display: flex;
    }
    
}

 /* COMEÇAR MEDIA PARA PEQUENOS APARELHOS */

 @media (max-width: 425px) {
    
    header {     
        position: inherit;
    }

    .main_course {
        height: 250px;
    }

    .search_bar {
        width: 315px;
    }

    .footer_area {
        width: 100%;
        position: fixed;
    }

    .footer_down {
        flex-wrap: wrap;
    }

}

